
Android/Labor 4/QuizApplication/app/src/main/res/mipmap-hdpi/ic_launcher.webp
Android/Labor 4/QuizApplication/.idea/.name
Android/Labor 4/QuizApplication/.idea/codeStyles/codeStyleConfig.xml
Android/Labor 4/QuizApplication/.idea/codeStyles/Project.xml
Android/Labor 4/QuizApplication/.idea/compiler.xml
Android/Labor 4/QuizApplication/.idea/gradle.xml
Android/Labor 4/QuizApplication/.idea/misc.xml
Android/Labor 4/QuizApplication/.idea/vcs.xml
Android/Labor 4/QuizApplication/app/proguard-rules.pro
Android/Labor 4/QuizApplication/app/src/androidTest/java/com/example/quizapp/ExampleInstrumentedTest.kt
Android/Labor 4/QuizApplication/app/src/main/java/ui/Quiz/home/HomeFragment.kt
Android/Labor 4/QuizApplication/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
Android/Labor 4/QuizApplication/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
Android/Labor 4/QuizApplication/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
Android/Labor 4/QuizApplication/app/src/main/res/mipmap-mdpi/ic_launcher.webp
Android/Labor 4/QuizApplication/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
Android/Labor 4/QuizApplication/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
Android/Labor 4/QuizApplication/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
Android/Labor 4/QuizApplication/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
Android/Labor 4/QuizApplication/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
Android/Labor 4/QuizApplication/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
Android/Labor 4/QuizApplication/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
Android/Labor 4/QuizApplication/app/src/main/res/values-night/themes.xml
Android/Labor 4/QuizApplication/app/src/main/res/values/colors.xml
Android/Labor 4/QuizApplication/app/src/main/res/values/strings.xml
Android/Labor 4/QuizApplication/app/src/main/res/values/themes.xml
Android/Labor 4/QuizApplication/app/src/test/java/com/example/quizapp/ExampleUnitTest.kt
Android/Labor 4/QuizApplication/build.gradle
Android/Labor 4/QuizApplication/gradle.properties
Android/Labor 4/QuizApplication/gradle/wrapper/gradle-wrapper.jar
Android/Labor 4/QuizApplication/gradle/wrapper/gradle-wrapper.properties
Android/Labor 4/QuizApplication/gradlew
Android/Labor 4/QuizApplication/gradlew.bat
Android/Labor 4/QuizApplication/settings.gradle
Android/Labor 5/QuizApp/.idea/compiler.xml
Android/Labor 5/QuizApp/.idea/gradle.xml
Android/Labor 5/QuizApp/.idea/misc.xml
Android/Labor 5/QuizApp/.idea/vcs.xml
Android/Labor 5/QuizApp/app/proguard-rules.pro
Android/Labor 5/QuizApp/app/src/androidTest/java/com/example/quizapp/ExampleInstrumentedTest.kt
Android/Labor 5/QuizApp/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
Android/Labor 5/QuizApp/app/src/main/res/drawable-v24/ic_quizapp_banner_foreground.xml
Android/Labor 5/QuizApp/app/src/main/res/drawable/ic_launcher_background.xml
Android/Labor 5/QuizApp/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
Android/Labor 5/QuizApp/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
Android/Labor 5/QuizApp/app/src/main/res/mipmap-anydpi-v26/ic_profileid_banner.xml
Android/Labor 5/QuizApp/app/src/main/res/mipmap-anydpi-v26/ic_quizapp_banner.xml
Android/Labor 5/QuizApp/app/src/main/res/mipmap-hdpi/ic_launcher.webp
Android/Labor 5/QuizApp/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
Android/Labor 5/QuizApp/app/src/main/res/mipmap-mdpi/ic_launcher.webp
Android/Labor 5/QuizApp/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
Android/Labor 5/QuizApp/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
Android/Labor 5/QuizApp/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
Android/Labor 5/QuizApp/app/src/main/res/mipmap-xhdpi/ic_profileid_banner.png
Android/Labor 5/QuizApp/app/src/main/res/mipmap-xhdpi/ic_profileid_banner_foreground.png
Android/Labor 5/QuizApp/app/src/main/res/mipmap-xhdpi/ic_quizapp_banner.png
Android/Labor 5/QuizApp/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
Android/Labor 5/QuizApp/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
Android/Labor 5/QuizApp/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
Android/Labor 5/QuizApp/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
Android/Labor 5/QuizApp/app/src/main/res/raw/highscore.txt
Android/Labor 5/QuizApp/app/src/main/res/values-night/themes.xml
Android/Labor 5/QuizApp/app/src/main/res/values/ic_quizapp_banner_background.xml
Android/Labor 5/QuizApp/app/src/main/res/values/themes.xml
Android/Labor 5/QuizApp/app/src/test/java/com/example/quizapp/ExampleUnitTest.kt
Android/Labor 5/QuizApp/build.gradle
Android/Labor 5/QuizApp/gradle.properties
Android/Labor 5/QuizApp/gradle/wrapper/gradle-wrapper.jar
Android/Labor 5/QuizApp/gradle/wrapper/gradle-wrapper.properties
Android/Labor 5/QuizApp/gradlew
Android/Labor 5/QuizApp/gradlew.bat
Android/Labor 5/QuizApp/settings.gradle
Android/.idea/vcs.xml
Android/.idea/modules.xml
Android/.idea/Android.iml
